#index{
    background-color: #a8f19a;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo{
    margin-top: 30px;
    position: relative;
}

form{
    margin-top: 100px;
}

.form-group{
    margin-top: 30px;
}

#vacinas-parasiticidas input{

    margin-bottom: 25px; 

}